# EDA

Importing libraries and data

In [2]:
import pandas as pd
import geopandas as gpd
import folium
import matplotlib.pyplot as plt
import numpy as np

Initalize Base Map

In [3]:
m = folium.Map(location = [45.523064,-122.676483], zoom_start= 10)

In [4]:
shapefile_path = r'New Data\tl_2023_41051_faces.shp'
gdf = gpd.read_file(shapefile_path)

In [5]:
gdf.head()

,TFID,STATEFP20,COUNTYFP20,TRACTCE20,BLKGRPCE20,BLOCKCE20,SUFFIX1CE,ZCTA5CE20,UACE20,PUMACE20,...,SLDLST,CSAFP,CBSAFP,METDIVFP,LWFLAG,OFFSET,ATOTAL,INTPTLAT,INTPTLON,geometry
0,264205863,41,051,010500,3,3059,None,97014,None,05116,...,052,440,38900,None,P,N,265,+45.6172643,-121.9996397,"POLYGON ((-122.00100 45.61681, -121.99692 45.6..."
1,264205887,41,051,010500,3,3112,None,97019,None,05116,...,052,440,38900,None,P,N,16636,+45.5645736,-122.2017346,"POLYGON ((-122.20341 45.56406, -122.20341 45.5..."
2,264205885,41,051,010500,3,3112,None,97019,None,05116,...,052,440,38900,None,P,N,205461,+45.5560030,-122.2259712,"POLYGON ((-122.24922 45.54865, -122.24895 45.5..."
3,264205861,41,051,010500,3,3059,None,97014,None,05116,...,052,440,38900,None,P,N,3571,+45.6164068,-122.0013733,"POLYGON ((-122.00168 45.61658, -122.00100 45.6..."
4,263976058,41,051,007100,2,2000,None,97056,79917,05114,...,031,440,38900,None,L,N,648,+45.7213723,-122.8788731,"POLYGON ((-122.87956 45.72140, -122.87827 45.7..."

In [6]:
gdf.columns

Index(['TFID', 'STATEFP20', 'COUNTYFP20', 'TRACTCE20', 'BLKGRPCE20',
       'BLOCKCE20', 'SUFFIX1CE', 'ZCTA5CE20', 'UACE20', 'PUMACE20', 'STATEFP',
       'COUNTYFP', 'TRACTCE', 'BLKGRPCE', 'COUSUBFP', 'SUBMCDFP', 'ESTATEFP',
       'CONCTYFP', 'PLACEFP', 'AIANNHFP', 'AIANNHCE', 'COMPTYP', 'TRSUBFP',
       'TRSUBCE', 'ANRCFP', 'TTRACTCE', 'TBLKGPCE', 'ELSDLEA', 'SCSDLEA',
       'UNSDLEA', 'SDADMLEA', 'CD118FP', 'SLDUST', 'SLDLST', 'CSAFP', 'CBSAFP',
       'METDIVFP', 'LWFLAG', 'OFFSET', 'ATOTAL', 'INTPTLAT', 'INTPTLON',
       'geometry'],
      dtype='object')

In [16]:
gdf['TRACTCE']

0        010500
1        010500
2        010500
3        010500
4        007100
          ...
21525    005701
21526    005701
21527    005701
21528    005701
21529    007002
Name: TRACTCE, Length: 21530, dtype: object

In [8]:
geojson_data = gdf.to_json()

In [9]:
acs_data_path = r'New Data\ACSST5Y2022.S0101-Data.csv'
acs_data = pd.read_csv(acs_data_path)

In [10]:
# Identify columns where the first row contains the word "Margin"
columns_to_drop = acs_data.columns[acs_data.iloc[0].str.contains("Margin", na=False)]

# Drop the identified columns
acs_data.drop(columns=columns_to_drop, inplace=True)

In [11]:
acs_data.head()

,GEO_ID,NAME,S0101_C01_001E,S0101_C01_002E,S0101_C01_003E,S0101_C01_004E,S0101_C01_005E,S0101_C01_006E,S0101_C01_007E,S0101_C01_008E,...,S0101_C06_030E,S0101_C06_031E,S0101_C06_032E,S0101_C06_033E,S0101_C06_034E,S0101_C06_035E,S0101_C06_036E,S0101_C06_037E,S0101_C06_038E,Unnamed: 458
0,Geography,Geographic Area Name,Estimate!!Total!!Total population,Estimate!!Total!!Total population!!AGE!!Under ...,Estimate!!Total!!Total population!!AGE!!5 to 9...,Estimate!!Total!!Total population!!AGE!!10 to ...,Estimate!!Total!!Total population!!AGE!!15 to ...,Estimate!!Total!!Total population!!AGE!!20 to ...,Estimate!!Total!!Total population!!AGE!!25 to ...,Estimate!!Total!!Total population!!AGE!!30 to ...,...,Estimate!!Percent Female!!Total population!!SE...,Estimate!!Percent Female!!Total population!!SE...,Estimate!!Percent Female!!Total population!!SU...,Estimate!!Percent Female!!Total population!!SU...,Estimate!!Percent Female!!Total population!!SU...,Estimate!!Percent Female!!Total population!!SU...,Estimate!!Percent Female!!Total population!!SU...,Estimate!!Percent Female!!Total population!!PE...,Estimate!!Percent Female!!Total population!!PE...,NaN
1,1400000US41051000101,Census Tract 1.01; Multnomah County; Oregon,3187,95,171,182,188,183,382,173,...,20.4,14.8,(X),(X),(X),(X),(X),(X),(X),NaN
2,1400000US41051000102,Census Tract 1.02; Multnomah County; Oregon,3746,178,141,176,198,128,320,181,...,16.4,2.5,(X),(X),(X),(X),(X),(X),(X),NaN
3,1400000US41051000201,Census Tract 2.01; Multnomah County; Oregon,3824,88,274,168,385,264,308,279,...,17.0,5.7,(X),(X),(X),(X),(X),(X),(X),NaN
4,1400000US41051000202,Census Tract 2.02; Multnomah County; Oregon,3284,68,108,230,186,235,427,302,...,18.2,7.2,(X),(X),(X),(X),(X),(X),(X),NaN

In [12]:
acs_data.columns

Index(['GEO_ID', 'NAME', 'S0101_C01_001E', 'S0101_C01_002E', 'S0101_C01_003E',
       'S0101_C01_004E', 'S0101_C01_005E', 'S0101_C01_006E', 'S0101_C01_007E',
       'S0101_C01_008E',
       ...
       'S0101_C06_030E', 'S0101_C06_031E', 'S0101_C06_032E', 'S0101_C06_033E',
       'S0101_C06_034E', 'S0101_C06_035E', 'S0101_C06_036E', 'S0101_C06_037E',
       'S0101_C06_038E', 'Unnamed: 458'],
      dtype='object', length=231)

In [13]:
def style_function(feature):
    return {
        'fillColor': '#green',
        'color': 'blue',
        'weight': 1,
        'dashArray': '5, 5'
    }

def popup_function(feature):
    return folium.Popup(f"Attribute: {feature['properties']['attribute_name']}")

In [14]:
folium.GeoJson(
    geojson_data,
    name="shapefile_layer",
    style_function=style_function,
    popup=popup_function
).add_to(m)

folium.LayerControl().add_to(m)

In [15]:
m.save('map_with_shapefile.html')